{% extends 'base.html' %}
{% block title %}
    '{{ job.summary }}' job opportunity
{% endblock %}
{% block body %}
    <div class="alignment">
        <h3>Summary:</h3>
        <pre>{{ job.summary }}</pre>
        <h3>Description:</h3>
        <p>{{ job.description }}</p>
        <h3>Language:</h3>
        <pre>{{ job.language }}</pre>
        <h3>Status:</h3>
        <pre>{{ job.status }}</pre>
        <h3>Urgency:</h3>
        <pre>{{ job.urgency }}</pre>
        <h3>Company:</h3>
        <pre>{{ job.company }}</pre>
    </div>
{% endblock %}